EXPO_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
EXPO_PUBLIC_RC_TEST_API_KEY=test_hjvZlqezbwLIEkbezqoTTloUmXj
EXPO_PUBLIC_RC_IOS_API_KEY=
EXPO_PUBLIC_RC_ANDROID_API_KEY=
EXPO_PUBLIC_RC_ENTITLEMENT_ID=make_way_better_trades
